@model RegistryWebApplication.Models.Work

@{
    ViewData["Title"] = "Work adds";
}

<h1>Create</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student</label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label">Teacher</label>
                <select asp-for="TeacherId" class ="form-control" asp-items="ViewBag.TeacherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CommissionId" class="control-label">Commission</label>
                <select asp-for="CommissionId" class ="form-control" asp-items="ViewBag.CommissionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClassroomId" class="control-label">Classroom</label>
                <select asp-for="ClassroomId" class ="form-control" asp-items="ViewBag.ClassroomId"></select>
            </div>
            <br />
            <div class="form-group row">
                <div class="col offset-1 row">
                    <div class="col">
                        <input type="submit" value="Add" class="btn btn-primary w-75" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
